@import url(https://fonts.googleapis.com/css?family=Roboto);  
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

 body {
    background: -moz-linear-gradient(90deg, rgba(221,242,108,0.3309698879551821) 35%, rgba(234,242,108,0.4150035014005602) 99%);
    background: -webkit-linear-gradient(90deg, rgba(221,242,108,0.3309698879551821) 35%, rgba(234,242,108,0.4150035014005602) 99%);
    background: linear-gradient(90deg, rgba(221,242,108,0.3309698879551821) 35%, rgba(234,242,108,0.4150035014005602) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ddf26c",endColorstr="#eaf26c",GradientType=1);
}
.navbar {
    margin-top: 2px;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(35,78,212);
    background: -moz-linear-gradient(90deg, rgba(35,78,212,0.8799894957983193) 88%, rgba(53,94,226,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(35,78,212,0.8799894957983193) 88%, rgba(53,94,226,1) 100%);
    background: linear-gradient(90deg, rgba(35,78,212,0.8799894957983193) 88%, rgba(53,94,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#234ed4",endColorstr="#355ee2",GradientType=1);
    
    height: fit-content;
    margin: 0px;

    padding: inherit;

}
.navbar h1{
    color: whitesmoke;
}
ul.navbar-nav {
    margin: 0px;
}
li.nav-item.right.py-0.px-0 {
    padding: 0px;
    margin: 0px;
    margin-right: 2px;
}
/* div#navbarNavAltMarkup {
    height: 5rem;
} */
.navContainer{
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 4px;
    margin: 1px;
    padding-top:0px;

    width: 100%;
    height: 50px;
}

.navbar-toggler{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.navbar-toggler img{
    height: 2rem;
}

.navbar-nav{
    right: 0px;
}



         
footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(247, 243, 243);
    color: white;
    text-align: center;

    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(35,78,212);
    background: -moz-linear-gradient(90deg, rgba(35,78,212,0.8799894957983193) 88%, rgba(53,94,226,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(35,78,212,0.8799894957983193) 88%, rgba(53,94,226,1) 100%);
    background: linear-gradient(90deg, rgba(35,78,212,0.8799894957983193) 88%, rgba(53,94,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#234ed4",endColorstr="#355ee2",GradientType=1);
 }


 footer{
  /* position: fixed; */
  /* left: 0; */
  /* bottom: 0; */
 }
 footer .btn{
    color:black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
 }

 .showOtherPost{
    width: 70%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
 }

 .showOtherPost ul{ 
        list-style-type: disclosure-closed;
        margin-top: 1px;
        margin-bottom: 1rem; 
 }
 
 .starCard{
    width:70%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
 }



/* Media Query for low resolution  mobs */
@media (min-width: 300px) and (max-width: 767px) {
    .showOtherPost{
        width:100%;
    }
    .starCard{
        width:100%;
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    
}


/* tag */





.md-chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;
  
} 
.md-chip.md-chip-hover:hover {
    background: #ccc;
  }

.md-chip-clickable {
 cursor: pointer;
}

.md-chip, .md-chip-icon {
  height: 32px;
  line-height: 32px;
}

.md-chip-icon {
  display: block;
  float: left;
  background: #009587;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}

.md-chip-remove {
  display: inline-block;
  background: #aaa;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 20px;
  
} .md-chip-remove  :after { 
    color: #e0e0e0;
    content: 'x';
  }

  .md-chip-remove  :hover {
    background: #999;
  }
  .md-chip-remove  :active {
    background: #777;
  }

.md-chips {
  padding: 12px 0;
  
}.md-chip {
    margin: 0 5px 3px 0;
  } 

.md-chip-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


input[type="checkbox"] {
  display: none;
}

/* input[type="checkbox"] + label {

} */


input[type="checkbox"]:checked + label {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #1579b3; color: white; border-color:#fc6c27;
}

*, *:before, *:after {
  box-sizing: border-box;
}


.tags
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


 .position-static a.deactivate{
  pointer-events: none;
  cursor: default;
  color: black;
 }

 .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.col ul li {
  float: left;
  padding: 0px;
  margin: 0px;
}

.col ul li label{
  pointer-events: none;
  cursor: text;
}


/* admin lte style change */

#changelist {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}


/* reset password form */
