{% load rest_framework %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            .footer {
               position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
               background-color: rgb(247, 243, 243);
               color: white;
               text-align: center;
            }
            </style>
    </head>
<body>
    <div class="container-fluid" style="overflow: auto;">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="navbar-text">
                                    <h1>BlogIt</h1>
                              </span>
                            </li>
                            <li class="m-2 nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                                <a class="nav-link" href="{% url 'homePage' %}">Home</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                             {% if is_authenticated %}
                                <li class="nav-item" >
                                <a class="nav-link" href="{% url 'profile' %}" >MyProfile</a>
                                </li>
                                <li class="nav-item right" data-toggle="collapse" data-target=".navbar-collapse ">
                                    <a href={%url 'createpost' %} class=" btn btn-outline-light px-5" role="button" >Post</a>
                                    </li>
                                <li class="nav-item" >
                                    <a href={%url 'logout' %} class=" btn btn-outline-light px-5" role="button">LogOut</a>
                                </li>
                            {% else %}
                                <li class="nav-item right" data-toggle="collapse" data-target=".navbar-collapse">
                                <a href={%url 'register' %} class="btn btn-outline-light px-5 " role="button" >Signup</a>
                                </li>
                                <li class="nav-item right" data-toggle="collapse" data-target=".navbar-collapse">
                                    <a href={%url 'login' %} class=" btn btn-outline-light px-5" role="button" >Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    </div>
    {% block content %}

    {% endblock %}
   </br>
<!-- <- </br></br></br></br></br> --> 
    <!-- <div class="footer" > -->
        <footer class="page-footer font-small bg-info pt-3 ml-1 mr-1 sticky-md-bottom" style="padding-top: 50%; bottom: 0%;">
            <div class="container-fluid">
                <ul class="list-unstyled list-inline text-center py-2">
                    <li class="list-inline-item ">
                        <a href="#!" class="btn btn-outline-white btn-rounded">About Us</a>
                    </li>
                    <li class="list-inline-item">
                    <a href="#!" class="btn btn-outline-white btn-rounded">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-white btn-rounded" data-toggle="modal" data-target="#contact-modal">contact</a>
                    </li>
                </ul>
            </div>
            <div class="footer-copyright text-center py-3">© 2021 Copyright:
                <a href="#" class="text-white">BlogIt</a>
            </div>
        </footer>
   
        <!-- <div id="contact"><button type="button" class="btn btn-info btn" data-toggle="modal" data-target="#contact-modal">Show Contact Form</button></div> -->
        <div id="contact-modal" class="modal fade" role="dialog">    
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title text-light ml-auto" id="exampleModalLabel">Contact Us</h5> 
                        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close"> 
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="contactForm" name="contact" role="form">
                        <div class="modal-body">				
                            <div class="form-row">
                                <div class="form-group col-sm">
                                    <label for="firstName" style="color: #fff;">First Name</label>
                                    <input type="text" name="firstName" class="form-control">

                                </div>
                                <div class="form-group col-sm">

                                    <label for="lastName" style="color: #fff;">Last Name</label>
                                    <input type="text" name="lastName" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" style="color: #fff;">Email</label>
                                <input type="email" name="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="message" style="color: #fff;">Message</label>
                                <textarea name="message" class="form-control"></textarea>
                            </div>					
                        </div>
                        <div class="modal-footer">					
                            <button type="button" class="btn btn-danger " style="border-radius: 50px; padding: auto;" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-success" id="submit"  style="border-radius: 50px; padding: auto;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){	
                $("#contactForm").submit(function(event){
                    submitForm();
                    event.preventDefault();
                    return false;
                });
            });
            function submitForm(){
                console.log($('form#contactForm').serialize());
                // $.ajax({
                //     type: "POST",
                //     url: "saveContact.php",
                //     cache:false,
                //     data: $('form#contactForm').serialize(),
                //     success: function(response){
                //         $("#contact").html(response)
                //         $("#contact-modal").modal('hide');
                //     },
                //     error: function(){
                //         alert("Error");
                //     }
                // });
            }
        </script>
    <!-- </div> -->
</body>
</html>


