{% load rest_framework %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
            <link rel="stylesheet" type="text/css" href={% static 'css/App.css' %}>
    </head>
<body>
    <div class="container-fluid" style="overflow: auto;">
        <!-- <div class="row"> -->
            <div class="navContainer">
                <nav class="navbar navbar-expand-lg">
                    <!-- <div class="container"> -->
                    <a class="nav-link" href="{% url 'homePage' %}">
                        <h1 color="white">BlogIt</h1>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <!-- <span class="navbar-toggler-icon"> -->
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAABmJLR0QA/wD/AP+gvaeTAAAAqklEQVR4nO3bMQqAMBQFQfX+d9ZaSBXELGSmTBXY8vGPAwCA752Dt/v3X+zt1eBa9QvGBIkRJEaQGEFiBIkRBAAAAACYMtrU/7b7hm9TLxMkRpAYQWIEiREkRhAAAAAAYIo79fVs6mWCxAgSI0iMIDGCxAgCAAAAAExxp76eTb1MkBhBYgSJESRGkBhBAAAAAIAp7tTXs6mXCRIjSIwgMYLECBIjCAAAG3gAa8EFTGvREHIAAAAASUVORK5CYII="/>
                        <!-- </span> -->
                    </button>
                      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav ml-auto">
                            {% if is_authenticated %}
                                <li class="nav-item py-0 px-0" data-toggle="collapse" data-target=".navbar-collapse ">
                                    <a href="{% url 'profile' %}" class=" btn btn-outline-light px-5" role="button" >MyProfile</a>
                                </li>
                                <li class="nav-item py-0 px-0" data-toggle="collapse" data-target=".navbar-collapse ">
                                    <a href={%url 'createpost' %} class=" btn btn-outline-light px-5" role="button" >Post</a>
                                </li>
                                <li class="nav-item py-0 px-0" >
                                    <a href={%url 'logout' %} class=" btn btn-outline-light px-5" role="button">LogOut</a>
                                </li>
                            {% else %}
                                <li class="nav-item py-0 px-0" data-toggle="collapse" data-target=".navbar-collapse">
                                <a href={%url 'register' %} class="btn btn-outline-light px-5 " role="button" >Signup</a>
                                </li>
                                <li class="nav-item py-0 px-0" data-toggle="collapse" data-target=".navbar-collapse">
                                    <a href={%url 'login' %} class=" btn btn-outline-light px-5" role="button" >Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                <!-- </div> -->
                </nav>
            </div>
        <!-- </div> -->
        
    </div>
    <br></br>
    <br></br>
    {% block content %}

    {% endblock %}
   </br>
<!-- <- </br></br></br></br></br> --> 
    <!-- <div class="footer" > -->
        <footer class="page-footer font-small bg-info pt-3 ml-1 mr-1 sticky-md-bottom" style="padding-top: 50%; bottom: 0%;">
            <div class="container-fluid">
                <ul class="list-unstyled list-inline text-center py-2">
                    <li class="list-inline-item ">
                        <a href="#!" class=" btn btn-outline-light px-5"role="button" >About Us</a>
                    </li>
                    <li class="list-inline-item">
                    <a href="#!" class=" btn btn-outline-light px-5"role="button" >Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class=" btn btn-outline-light px-5" role="button" data-toggle="modal" data-target="#contact-modal">contact</a>
                    </li>
                </ul>
            </div>
            <div class="footer-copyright text-center py-3">© 2021 Copyright:
                <a href="#" class="text-white">BlogIt</a>
            </div>
        </footer>
   
        <!-- <div id="contact"><button type="button" class="btn btn-info btn" data-toggle="modal" data-target="#contact-modal">Show Contact Form</button></div> -->
        <div id="contact-modal" class="modal fade" role="dialog">    
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title text-light ml-auto" id="exampleModalLabel">Contact Us</h5> 
                        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close"> 
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="contactForm" name="contact" role="form">
                        <div class="modal-body">				
                            <div class="form-row">
                                <div class="form-group col-sm">
                                    <label for="firstName" style="color: #fff;">First Name</label>
                                    <input type="text" name="firstName" class="form-control">

                                </div>
                                <div class="form-group col-sm">

                                    <label for="lastName" style="color: #fff;">Last Name</label>
                                    <input type="text" name="lastName" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" style="color: #fff;">Email</label>
                                <input type="email" name="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="message" style="color: #fff;">Message</label>
                                <textarea name="message" class="form-control"></textarea>
                            </div>					
                        </div>
                        <div class="modal-footer">					
                            <!-- <button type="button" class="btn btn-danger " style="border-radius: 50px; padding: auto;" data-dismiss="modal">Close</button> -->
                            <input type="submit" class="btn btn-success" id="submit"  style="border-radius: 50px; padding: auto;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function(){	
                $("#contactForm").submit(function(event){
                    submitForm();
                    event.preventDefault();
                    return false;
                });
            });
            function submitForm(){
                $('#contact-modal').removeClass("show");
                $('#contact-modal').css("display","none");
                $("body").removeClass("modal-open");
                $(".modal-backdrop").remove();
                // console.log($('form#contactForm').serialize());
                $.ajax({
                    type: "POST",
                    url: "{% url 'contact' %}",
                    cache:false,
                    data: $('form#contactForm').serialize(),
                    success: function(response){
                        // $("#contact").html(response)
                        // $("#contact-modal").modal('hide');
                    },
                    error: function(){
                        alert("Error");
                    }
                });
            }
        </script>
    <!-- </div> -->
</body>
</html>


