{% extends 'basePage.html' %}  
{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://goodies.pixabay.com/jquery/tag-editor/jquery.tag-editor.css" rel="stylesheet" />

  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/raw"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/table"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter"></script>

  
  <script src={% static 'js/jquery-3.1.1.min.js' %}></script>
  <script src={%static 'js/jquery.waypoints.min.js' %}></script>
  <script src={% static 'image/simple-image.js' %}></script>
  <link href={% static 'image/simple-image.css' %} >
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8  mt-5">
          <div class="form-group">
            <label for="post_title">Post Title</label>
            <input type="text" class="form-control" id="PostTitle" aria-describedby="textHelp" >
            <small id="textHelp" class="form-text text-muted">Enter your Post title Here.</small>
          </div>
          <div class="form-group">
            <label for="post_category">Catagory</label>
            <!-- <input type="text" class="form-control" id="postCatagory" aria-describedby="textHelp"> -->
            <br>
            <small id="textHelp" class="form-text text-muted">Select your Post Catagory Here.</small>

            <!-- <div id="output"></div>
            <select  data-placeholder="Choose tags ..." name="tags[]" multiple class="chosen-select" style="width: 50%;">
              {% for t in tags %}
                <option value="{{ t.tag_name }}">{{ t.tag_name }}</option>
              {% endfor %}
            </select> -->
            
            <div id="demo2"></div>
          </div>
          <div id="editorjs"></div>
          <script>
              const editor = new EditorJS({
                autofocus: true,
                tools:{
                    image:{
                      class:SimpleImage,
                      inlineToolbar:true
                    },
                    header:{
                      class:Header,
                      shortcut:'CMD+SHIFT+H',
                      config:{
                        placeholder:'Enter a header',
                        levels:[2,3,4],
                        defaultlevel:3
                      }
                    },
                    raw:RawTool,
                    list:{
                      class:List,
                      inlineToolbar:true
                    },
                    quote:{
                      class:Quote,
                      inlineToolbar:true,
                      shortcut:'CTRL+SHIFT+Q',
                      config:{
                        placeholder:'enter a quote',
                        captionPlaceholder:'Author of Quote'
                      }
                    },
                    table: {
                      class: Table,
                      inlineToolbar: true,
                      config: {
                        rows: 2,
                        cols: 3,
                      },
                    },
                    paragraph: {
                      class: Paragraph,
                      inlineToolbar: true,
                      config:{
                        preserveBlank:true
                      }
                    },
                    delimiter:{
                      class:Delimiter
                    }
                  },
              });
              
          </script>
          <div class="form-check form-check-inline mt-5">
            <input class="form-check-input" type="radio" name="status" id="inlineRadio1" value="d">
            <label class="form-check-label" for="inlineRadio1">Draft</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="status" id="inlineRadio2" value="p">
            <label class="form-check-label" for="inlineRadio2">Publish</label>
          </div>
        </br>
          <button id="save-data" type="submit" class="btn btn-primary">Submit</button>



          <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
          <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
          <script src="https://goodies.pixabay.com/jquery/tag-editor/jquery.caret.min.js"></script>
          <script src="https://goodies.pixabay.com/jquery/tag-editor/jquery.tag-editor.js"></script>
        <script>
          const source = ['ActionScript', 'AppleScript', 'Asp', ...'Python', 'Ruby'];

          $('#demo2').tagEditor({
          autocomplete: {
              delay: 0, // show suggestions immediately
              position: {
              collision: 'flip'
              }, // automatic menu position up/down
              source
          },
          forceLowercase: false,
          placeholder: 'Programming languages ...',
          // initialTags: ['ActionScript', 'AppleScript'],
          // beforeTagSave: (field, editor, tags, tag, val) => {
          //     return source.includes(val) && val;
          // }
          });

          const but=document.getElementById('save-data');
          but.addEventListener('click',()=>
              {
                editor.save().then(savedData=>
                    {
                        postData=JSON.stringify(savedData,null,4);
                        $.ajax({
                          type:'POST',
                          url:'{%url 'createpost'%}',
                          dataType:'JSON',
                          headers: {
                            'Access-Control-Allow-Credentials' : true,
                            'Access-Control-Allow-Origin':'*',
                            'Access-Control-Allow-Methods':'POST',
                            'Access-Control-Allow-Headers':'application/json',
                          },
                          data:{
                              "postTitle":document.getElementById('PostTitle')!==null ? document.getElementById('PostTitle').value : '',
                              // "postCatagory":$("#selectedTags").val(),
                              "postStatus":document.getElementsByName('status')[0].checked==true ? document.getElementsByName('status')[0].value : document.getElementsByName('status')[1].value,
                              "postData":postData
                          },
                          success:function(response){
                            if(response==true)
                            {
                              window.location='{%url 'homePage' %}';
                            }
                            else{
                              alert("Please Enter the Post title and Category");
                            }
                          }
                      })
                    })
              })
        </script>
      </div>
    </div>
  </div>
</body>
</html>
{%endblock%}






