{% extends 'basePage.html' %}
{% block content %}
<!DOCTYPE html>
{% load rest_framework %}
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href={% static 'dynamicLoad.css' %}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="/static/js/jquery-3.1.1.min.js"></script >         
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/infinite.min.js"></script>
    <script src={% static 'js/domList.js' %}></script>
    <link rel="stylesheet" href={% static 'ulLi.css' %}>
</head>
<body>
    <form action="{% url 'homePage' %}" method="get">
        <div class="container-fluid ">
            <div class="mt-sm-5 ml-sm-5 row">
                <div class="col-sm-2"> </div>
                <div class="col-sm-6 ">
                    <div class="infinite-container">
                        {% for post in posts %}
                            <div class="col-md-auto infinite-item">
                              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                  <strong class="d-inline-block mb-2 text-primary">{{ post.catagory }}</strong>
                                  <h3 class="mb-0">{{ post.post_title }}</h3>
                                  <div class="mb-1 text-muted">{{ post.post_created }}</div>
                                  <p class="card-text mb-auto">{{ post.content }}</p>
                                  <a href={% url 'postView' post.id %} class="stretched-link">Continue reading</a>
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="loading">
                        <div class="ball"></div>
                        <div class="ball"></div>
                        <div class="ball"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-auto">
                                {% if posts.has_next %}
                                <a class="infinite-more-link" href="?page={{ posts.next_page_number }}">
                                Next
                                </a>
                                {% endif %}
                        </div>
                    </div>
                </div>

               
                <script>
                let infinite = new Waypoint.Infinite({
                    element: $('.infinite-container')[0],


                    onBeforePageLoad: function () {
                    $('.loading').show();

                    },
                    onAfterPageLoad: function () {
                    setTimeout(this.onBeforePageLoad,1000)
                    $('.loading').hide();
                    }

                });

                </script>
                <div class="col-sm-4"> 
                    <div id="testList"></div>
                    <script>
                        TreeData='{{postTreeData | escapejs}}';
                        postDet='{{postDet|escapejs}}';
                    </script>
                </div>
        </div>
    </div>
    </form>
</body>
</html>
{% endblock %}


