{% extends 'basePage.html' %}
{% load markdown_extras %}
{% load static %}
{% block content %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/postview.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href={% static 'css/star.css' %}>
    <!-- <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script> -->
    <script src={% static 'js/postView.js' %}></script>
    <script src={% static 'js/starRating.js' %}></script>
</head>

<body>
    <div class="container-fluid d-flex flex-column" style="min-height: 100%;">
        <div class="row ">
            <div class="col-md-3 col-sm-3 col-lg-3 order-md-1 order-sm-1 order-lg-1 order-xl-1 order-2">
                <div class="pt-5 pb-5 px-0"></div>
                    <div class="card showOtherPost">
                        <h5 class="card-header text-center">Other Posts From {{ posts.owner.user_name }}</h5>
                        <div class="card-body">
                            <ul>
                                {% for p in other_post %}
                                    <li>
                                        <p class="card-text">
                                            <a href={% url 'postView' p.id %} class="stretched-link" target="_blank" >{{ p.post_title }}</a>
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                        </div>
                    </div>
                <br/>
                <br/>
                <div class="card text-center starCard">
                    <div id="rate" class="container-fluid" style="padding: 2px;">
                        <div id="starrating"></div>
                        </br>
                        <span id="ratVal"></span>
                        <script>
                            starCount={{ postRate }}
                            function sendData(val){
                                $.ajax({
                                    type:'POST',
                                    url:'{%url 'rating'%}',
                                    dataType:'JSON',
                                    data:{ 
                                        postTitle:val,
                                        postId:{{ posts.id }}   
                                    },
                                    success :function(response){
                                        if(response==true){
                                            // document.getElementById('ratVal').innerHTML="thank you for rating."
                                        }
                                    }
                                })
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6  blog-top order-md-2 order-sm-2 order-lg-2  order-xl-2 order-1"
                style="padding-bottom: 10%;">
                <article class="blog-view">
                    <div class="justify-content-center">
                        <section>
                            <div>
                                <h1 class="text-center" style="font-size: xx-large; line-height: 3px; letter-spacing: normal;">{{ posts.post_title | convert_markdown |safe}}
                                </h1>
                            </div>
                            <section>
                                <div class="row mt-5 justify-content-center ">
                                    <div class="offset-sm-1 offset-md-1 col-md-2 col-sm-2 col-2">
                                        {% if posts.owner.profile_pic_name is not None %}
                                        <img src="{{ posts.owner.profile_pic.url }}" class="rounded-circle "
                                            style="height:40px; width:40px;margin-left:50%">
                                        {% else %}
                                        <img src="{% static 'fb.jpg' %}" class="rounded-circle "
                                            style="height:40px; width:40px;margin-left:50%">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-4">
                                        <section>
                                            <span>{{ posts.owner.user_name }}</span>
                                        </section>
                                        <section>
                                            <h6 class="blog-post-meta">{{ posts.post_created|date:"Y-m-d "  }} </h6>
                                        </section>
                                    </div>
                                </div>
                            </section>
                        </section>
                    </div>
                    <section class="mt-5">
                        <img src="{% static '3.png'%}" class="img-fluid full-width">
                    </section>
                    <div class="mb-auto">
                        <section id="postBody">
                            <div class="container-fluid mt-5 mb-auto">
                                <script>
                                    postData = "{{ body_custom | escapejs}}";
                                </script>
                            </div>
                        </section>
                    </div>
                </article>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 order-md-3 order-sm-3 order-lg-3 order-3"></div>
        </div>
    </div>
    <hr/> 
    <br/>
    <br/>
    <style>
        @media screen and (min-width: 600px) {
          .children form {
            margin-left: -48px; 
          }
      
          .children .children form {
            margin-left: -96px; 
          }
        }
      </style>
      
      <div class="container">
        <div class=" justify-content-md-center pt-5">
       
      
            {% with allcomments.count as total_comments %}
            <h2>
              {{ total_comments }} comment{{ total_comments|pluralize }}
            </h2>
            <br />
            <br />

            {% endwith %}
      
            {% load mptt_tags %}
      
            <!-- recursive comment generate mttp -->
            <!-- <div class="col-md-8"> -->

              {% load mptt_tags %}
              <div class="allcommments">
        
                {% recursetree allcomments %}
                <div id="{{ node.id }}" class="my-2 p-2" style="border: 0px solid grey">
        
        
                  <div class="d-flex justify-content-between">
        
                    <div><img class="avatar_single mr-3" src="{{ node.owner.profile_pic.url }}" style="height:40px; width:40px;border-radius: 50%;">By {{ node.owner }}</div>
                    {{ node.publish }}
        
        
                  </div>
        
                  <div class="node-content">{{ node.comment }}</div>
        
                  <div class="d-flex flex-row-reverse">
                    {% if node.level < 3 %}
                    <button class="btn btn-primary btn-sm" onclick="myFunction({{ node.id }})">Reply</button>
                    {% endif %}
                    {% if node.owner|stringformat:"s" ==  user_name  %}
                    <button class="btn btn-secondary btn-sm mr-2" onclick="deleteComment({{ node.id }})">Delete</button>
                    {% endif %}
                  </div>
                  <hr />
                </div>
                {% if not node.is_leaf_node %}
                <div class="children pl-2 pl-md-5">
                  {{ children }}
                </div>
                {% endif %}
                {% endrecursetree %}
        
              </div> 
            <!-- </div> -->
      
            
      
            <!-- for for creating new comment -->
            {% if is_authenticated is True %}
                <div id="myDIV" style="display:block;">
                <form id="myForm" method="post">
                    <h2>Create new comment</h2>
                    {{ comment_form.as_p  }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </form>
                </div>
            {% else %}
                <h2>Please Log In to Comment</h2>
            {% endif %}
      
          </div>
        </div>
      </div>
      <script>
        //Comments
      
        $(document).on('click', '#newcomment, #newcommentinner', function (e) {
          e.preventDefault();
      
          var button = $(this).attr("value");
      
          var placement = "commentform"
          if (button == "newcommentform") {
            var placement = "newcommentform"
          }
      
          $.ajax({
            type: 'POST',
            url: '{% url "addcomment" %}',
            data: $("#" + button).serialize(),
            cache: false,
            success: function (json) {
              // console.log(json)
      
      
              $('<div id="'+ json['comment_id'] +'" class="my-2 p-2" style="border: 1px solid grey"> \
                <div class="d-flex justify-content-between">By ' + json['user'] + '<div></div>Posted: Just now!</div> \
                <div>' + json['result'] + '</div> \
                <hr> \
                <button class="mr-1 btn btn-primary btn-sm" onclick="myFunction('+json['comment_id']+')">Reply</button>\
                </div>').insertBefore('#' + placement);
      
              $('.commentform').trigger("reset");
              formExit()
      
            },
            error: function (xhr, errmsg, err) {
      
            }
          });
        })
      
        function formExit() {
          // e.preventDefault();
          document.getElementById("newcommentform").remove();
          $("#newcommentform").remove();
        }
      
        function deleteComment(id) {
          console.log(id)
          $.ajax({
            type: 'POST',
            url: '{% url "addcomment" %}',
            data: {
              nodeid: id,
              action: 'delete',
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (json) {
              $("#" + json['remove']).remove();
            },
            error: function (xhr, errmsg, err) {}
          });
        }
      
        function myFunction(id) {
          if (document.contains(document.getElementById("newcommentform"))) {
            document.getElementById("newcommentform").remove();
          }
          // var postid = document.getElementById('thumbs').getAttribute('data-value');
          // var imgFullURL = $('img.avatar_comment')[0].src;
          var d1 = document.getElementById(id);
          if("{{is_authenticated}}"==="True"){
                d1.insertAdjacentHTML('afterend',
                    '<form id="newcommentform" class="commentform" method="post"> \
                    {% csrf_token %} \
                    </select> <label class="small font-weight-bold"></label> \
                    <select name="parent" class="d-none" id="id_parent"> \
                        <option value="' + id + '" selected="' + id + '"></option> \
                    </select> \
                    <div class="d-flex"> \
                        <textarea name="comment" cols="40" rows="1" class=" ml-3 mb-3 form-control border-0 comment-add rounded-0" placeholder="Add a public comment" required="" id="id_comment" ></textarea> \
                    </div> \
                    <div class="d-flex flex-row-reverse"> \
                        <button type="button" class="btn btn-outline-secondary" onclick="formExit()">Close</button> \
                        <button value="newcommentform" id="newcommentinner" type="submit" class="mr-1 newcomment btn btn-primary ">Submit</button> \
                    </div> \
                    </form>'
                );
          }
          else{
              alert('Please Log In to Comment'); 
          }
        }
        
      
      
        //Reset form on page reload
      
        $('.commentform').trigger("reset");
      
      
      
      
        
      </script>
</body>

</html>
{% endblock %}