{% extends 'basePage.html' %}
{% load markdown_extras %}
{% load static %}
{% block content %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/postview.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/feather-icons@4.10.0/dist/feather.min.js"></script>
    <link rel="stylesheet" href={% static 'css/star.css' %}>
    <!-- <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script> -->
    <!-- <script src={% static 'js/postView.js' %}></script> -->
    <script src={% static 'js/starRating.js' %}></script> 

      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js" integrity="sha512-Pbb8o120v5/hN/a6LjF4N4Lxou+xYZ0QcVF8J6TWhBbHmctQWd8O6xTDmHpE/91OjPzCk4JRoiJsexHYg4SotQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css" integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/github-dark-dimmed.min.css" integrity="sha512-zcatBMvxa7rT7dDklfjauWsfiSFParF+hRfCdf4Zr40/MmA1gkFcBRbop0zMpvYF3FmznYFgcL8wlcuO/GwHoA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script>hljs.initHighlightingOnLoad();</script>
    <!-- <script src={% static 'css/postView.js' %}></script> -->
</head>
<style>
  button {
  display: inline-block;
  cursor: pointer;
  padding: 1rem 1.5rem;
  line-height: 1;
  margin-bottom: 1rem;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 2rem;
  background: #fff;
}

.share {
  list-style: none;
  margin: 0 auto 2rem;
}
.share li {
  float: none;
  display: inline-block;
}
.share button, .share a {
  float: left;
  display: block;
  height: 64px;
  width: 64px;
  margin: .5rem;
  padding: 1rem;
  border-radius: 50%;
  font-size: 0;
  color: #000;
  cursor: pointer;
  background: #fff;
  transition: all 150ms ease-in-out;
  border: 2px solid #000;
}
.share button:hover, .share button:focus,
.share a:hover, .share a:focus {
  background: #000;
}
.share button:hover svg, .share button:focus svg,
.share a:hover svg, .share a:focus svg {
  color: #fff;
}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h1 {font: size 1.5rem !important;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font: size 2rem !important;} /*1rem = 16px*/
  #shareSocial ul li{
    display: grid;
  }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font: size 2.5rem !important;} /*1rem = 16px*/
  #shareSocial ul li{
    display: grid;
  } 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font: size 3rem !important;} /*1rem = 16px*/  
  #shareSocial ul li{
    display: grid;
  } 
} 
/* code{
  border-radius: 12px;
}  */
/* code {
  font-size: 1.2rem; 
  background-color:#eee;
  color:#444;
  font-size:13px;
  line-height:1.75em;
  padding:10px 15px;
  border-left:3px solid ; 
} */
</style>
<body >
   
  
    <div class="container-fluid d-flex flex-column" style="min-height: 100%;">
        <div class="row ">
            <div class="col-md-12 col-sm-12 col-lg-3 col-xl-3 order-md-2 order-sm-2 order-lg-3 order-xl-3 order-3" >
                <div class="pt-5 pb-5 px-0"></div>
                
                <div class="card showOtherPost" style="margin-top:60%" >
                    <h5 class="card-header text-center">
                      <section>
                        <div class="mt-2 mb-5"> 
                            <img class="text-center" src="{{ posts.owner.profile_pic_url }}" style="height:50px; width:50px;border-radius:50%;">   
                            <p >{{ posts.owner.user_name }}</p> 
                            <h6 class="blog-post-meta">{{ posts.post_created|date:"Y-m-d "  }} </h6> 
                        </div>
                    </section>
                      Other Posts From {{ posts.owner.user_name }}</h5>
                    <div class="card-body">
                        <ul>
                            {% for p in other_post %}
                                <li>
                                    <p class="card-text">
                                        <a href={% url 'postView' p.id %} class="stretched-link" target="_blank" >{{ p.post_title }}</a>
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    </div>
                </div> 
                <br/>
                 <div class="card text-center starCard" >
                    <div id="rate" class="container-fluid" style="padding: 2px;">
                        <div id="starrating"></div>
                        </br>
                        <span id="ratVal"></span>
                        <script>
                            starCount={{ postRate }}
                            function sendData(val){
                                $.ajax({
                                    type:'POST',
                                    url:'{%url 'rating'%}',
                                    dataType:'JSON',
                                    data:{ 
                                        postTitle:val,
                                        postId:{{ posts.id }}   
                                    },
                                    success :function(response){
                                        if(response==true){
                                            // document.getElementById('ratVal').innerHTML="thank you for rating."
                                        }
                                    }
                                })
                            }
                        </script>
                    </div>
                </div>  
                
            </div>
            <div class="col-md-12 col-sm-12 col-lg-7 col-xl-7  blog-top order-md-1 order-sm-1 order-lg-2  order-xl-2 "
                style="padding-bottom: 10%;">
                <article class="blog-view">
                    <div class="justify-content-center">
                        <section>
                            <div style="padding-top: 2%;padding-bottom: 2%;">
                              <p class="text-center display-4" style="font-size: 4rem;font-weight: bold ;word-break: break-word; ">{{ posts.post_title }} </p>
                              </div>
                        </section>
                        
                      
                    </div>
                    <section class="mt-5">
                        <img src="https://wallpaperaccess.com/full/186244.jpg" class="img-fluid full-width">
                    </section>
                    <div class="mb-auto">
                        <!-- <pre> 
                          <code >
package in.assign.Accounts4_3;

public class CurrentAccount extends Account{
  private final int minimumBalance=100;
  private int balance;
  private int interestRate;
  private int serviceCharge=150;
  public CurrentAccount(int balance,int interestRate,String customername, String accountNumber, String accountType) {
    super(customername, accountNumber, accountType);
    this.balance=balance;
    this.interestRate=interestRate;
  }
  public void deposit(int amount) {
    this.balance+=amount;
  }
  public void withdrawl(int amount)  throws BalanceExcep{
    if(minimumBalance > this.balance) {
      this.balance=-this.serviceCharge;
      throw new BalanceExcep(this.minimumBalance, this.balance,this.serviceCharge);
    }
    else {
      this.balance-=amount;			
    }
  } 
  public void calInterest(float time) {
    float interest=((float)(this.balance*this.interestRate)*time)/100;
    this.balance+=(int)interest;
  }
  public void print() {
    System.out.println("Balance:- "+this.balance);
  }
}
                          </code>
                        </pre> -->
                        <section id="postBody">
                            <div class="container-fluid mt-5 mb-auto">
                                <script>
                                    postData = "{{ body_custom | escapejs}}";
                                </script>
                            </div>
                        </section>
                    </div>
                </article>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 order-md-1 order-sm-1 order-lg-1 ">
              <div class="justify-content-center ss mt-5 " id="shareSocial" style="margin-top:40%">
                <ul class="share">

                  <!-- Facebook -->
                  <li>
                    <button onclick="window.open('https://facebook.com/share.php?u=https://sheltered-journey-30026.herokuapp.com/{% url 'postView' posts.id %}&amp;t={{ posts.post_title }}', '_blank', 'top=150,left=400,width=450,height=550')" title="Facebook"><i data-feather="facebook"></i></button>
                  </li>
                      
                  <!-- Twitter -->
                  <li>
                    <button class="share-twitter" onclick="window.open('https://twitter.com/intent/tweet?text={{ posts.post_title }}&amp;url=https://sheltered-journey-30026.herokuapp.com/{% url 'postView' posts.id %}&amp;via=USERNAME_HERE', '_blank', 'top=150,left=400,width=550,height=350')" title="Twitter"><i data-feather="twitter"></i></button>
                  </li>
                    
                  <!-- Linkedin -->
                  <li>
                    <button onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&amp;url=https://sheltered-journey-30026.herokuapp.com/{% url 'postView' posts.id %}&amp;title={{ posts.post_title }}&amp;summary=PAGE_DESCRIPTION_HERE&amp;source=PAGE_NAME_HERE', '_blank', 'top=150,left=550,width=450,height=650')" title="LinkedIn"><i data-feather="linkedin"></i></button>
                  </li>
                  
                   
                  <li>
                    <button onclick="window.open('https://pinterest.com/pin/create/button/?url=https://sheltered-journey-30026.herokuapp.com/{% url 'postView' posts.id %}&media=MEDIA_LINK_HERE&description=PAGE_DESCRIPTION_HERE', '_blank', 'top=150,left=550,width=450,height=650')" title="Pinterest">Pinterest
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,0A12,12,0,0,0,7.63,23.17a11.7,11.7,0,0,1,0-3.44l1.41-6A4.33,4.33,0,0,1,8.72,12c0-1.67,1-2.92,2.17-2.92a1.51,1.51,0,0,1,1.52,1.69,23.74,23.74,0,0,1-1,4,1.73,1.73,0,0,0,1.77,2.17c2.13,0,3.77-2.25,3.77-5.49a4.73,4.73,0,0,0-5-4.88,5.18,5.18,0,0,0-5.41,5.2,4.62,4.62,0,0,0,.89,2.74.36.36,0,0,1,.08.35c-.09.38-.29,1.19-.34,1.36s-.17.27-.4.16c-1.49-.69-2.43-2.89-2.43-4.64,0-3.79,2.75-7.26,7.93-7.26,4.16,0,7.39,3,7.39,6.93,0,4.13-2.61,7.46-6.22,7.46a3.2,3.2,0,0,1-2.75-1.38s-.61,2.29-.75,2.85a13.28,13.28,0,0,1-1.49,3.15A12.2,12.2,0,0,0,12,24,12,12,0,0,0,12,0Z"></path></svg>
                    </button>
                  </li>  
                  <!-- WhatsApp 
                  <li>
                    <a href="whatsapp://send?text={{ posts.post_title }} - https://sheltered-journey-30026.herokuapp.com/{% url 'postView' posts.id %}" target="_blank" title="WhatsApp"><i data-feather="message-circle"></i></a>
                  </li> -->
                  
                <!-- Email -->
                  <li>
                    <a href="mailto:?subject={{ posts.post_title }}&amp;body=https://sheltered-journey-30026.herokuapp.com/{% url 'postView' posts.id %}" rel="noopener" title="Email"><i data-feather="mail"></i></a>
                  </li>
                  
                </ul>
              </div>

            </div>
        </div>
    </div>
    <hr/> 
    <br/>
    <br/>
    <style>
        @media screen and (min-width: 600px) {
          .children form {
            margin-left: -48px; 
          }
      
          .children .children form {
            margin-left: -96px; 
          }
        }
      </style>
      
      <div class="container">
        <div class=" justify-content-md-center pt-5">
       
      
            {% with allcomments.count as total_comments %}
            <h2>
              {{ total_comments }} comment{{ total_comments|pluralize }}
            </h2>
            <br />
            <br />

            {% endwith %}
      
            {% load mptt_tags %}
      
            <!-- recursive comment generate mttp -->
            <!-- <div class="col-md-8"> -->

              {% load mptt_tags %}
              <div class="allcommments">
        
                {% recursetree allcomments %}
                  <div id="{{ node.id }}" class="my-2 p-2" style="border: 0px solid grey">
          
          
                    <div class="d-flex justify-content-between">
          
                      <div><img class="avatar_single mr-3" src="{{ node.owner.profile_pic_url }}" style="height:40px; width:40px;border-radius: 50%;">By {{ node.owner }}</div>
                      {{ node.publish }}
          
          
                    </div>
          
                    <div class="node-content">{{ node.comment }}</div>
          
                    <div class="d-flex flex-row-reverse">
                      {% if node.level < 10 %}
                      <button class="btn btn-primary btn-sm" onclick="myFunction({{ node.id }})">Reply</button>
                      {% endif %}
                      {% if node.owner|stringformat:"s" ==  user_name  %}
                      <button class="btn btn-secondary btn-sm mr-2" onclick="deleteComment({{ node.id }})">Delete</button>
                      {% endif %}
                    </div>
                    <hr />
                  </div>
                  {% if not node.is_leaf_node %}
                    <div class="children pl-2 pl-md-5">
                      {{ children }}
                    </div>
                  {% endif %}
                {% endrecursetree %}
        
              </div> 
            <!-- </div> -->
      
            
      
            <!-- for for creating new comment -->
            {% if is_authenticated is True %}
                <div id="myDIV" style="display:block;">
                <form id="myForm" method="post">
                    <h2>Create new comment</h2>
                    {{ comment_form.as_p  }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </form>
                </div>
            {% else %}
                <h2>Please Log In to Comment</h2>
            {% endif %}
      
          </div>
        </div>
      </div>
      <script>
        //Comments
      
        $(document).on('click', '#newcommentform, #newcommentinner', function (e) {
          e.preventDefault();
      
          var button = $(this).attr("value");
          console.log($("#" + button).serialize());
          var placement = "commentform"
          if (button == "newcommentform") {
            var placement = "newcommentform"
          }
      
          $.ajax({
            type: 'POST',
            url: '{% url "addcomment" %}',
            data: $("#" + button).serialize(),
            cache: false,
            success: function (json) {  
              
              $('<div id="'+ json['comment_id'] +'" class="my-2 p-2" style="border: 1px solid grey"> \
                <div class="d-flex justify-content-between">By ' + json['user'] + '<div></div>Posted: Just now!</div> \
                <div>' + json['result'] + '</div> \
                <hr> \
                <button class="mr-1 btn btn-primary btn-sm" onclick="myFunction('+json['comment_id']+')">Reply</button>\
                </div>').insertBefore('#' + placement);
      
              $('.commentform').trigger("reset");
              formExit()
      
            },
            error: function (xhr, errmsg, err) {
      
            }
          });
        })
      
        function formExit() {
          // e.preventDefault();
          document.getElementById("newcommentform").remove();
          $("#newcommentform").remove();
        }
      
        function deleteComment(id) {
          console.log(id)
          $.ajax({
            type: 'POST',
            url: '{% url "addcomment" %}',
            data: {
              nodeid: id,
              action: 'delete',
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (json) {
              $("#" + json['remove']).remove();
            },
            error: function (xhr, errmsg, err) {}
          });
        }
      
        function myFunction(id) {
          if (document.contains(document.getElementById("newcommentform"))) {
            document.getElementById("newcommentform").remove();
          }
          var postid = "{{ posts.id }}";
          // console.log("{{ posts.id }}");
          // var imgFullURL = $('img.avatar_comment')[0].src;
          var d1 = document.getElementById(id);
          if("{{is_authenticated}}"==="True"){
                d1.insertAdjacentHTML('afterend',
                    '<form id="newcommentform" class="commentform" method="post"> \
                    {% csrf_token %} \
                    <select name="post" class="d-none" id="id_post"> \
                      <option value="' + postid + '" selected="' + postid + '"></option> \
                    </select> <label class="small font-weight-bold"></label> \
                    <select name="parent" class="d-none" id="id_parent"> \
                        <option value="' + id + '" selected="' + id + '"></option> \
                    </select> \
                    <div class="d-flex"> \
                        <textarea name="comment" cols="40" rows="1" class=" ml-3 mb-3 form-control border-0 comment-add rounded-0" placeholder="Add a public comment" required="" id="id_comment" ></textarea> \
                    </div> \
                    <div class="d-flex flex-row-reverse"> \
                        <button type="button" class="btn btn-outline-secondary" onclick="formExit()">Close</button> \
                        <button value="newcommentform" id="newcommentinner" type="submit" class="mr-1 newcomment btn btn-primary ">Submit</button> \
                    </div> \
                    </form>'
                );
          }
          else{
              alert('Please Log In to Comment'); 
          }
        }
        
      
      
        //Reset form on page reload
      
        $('.commentform').trigger("reset");
      
      
      
      
        
      </script>
      <script> 
        var pos=document.getElementsByClassName("ss")[0].offsetTop; 
        $(window).scroll(function() {
            var currentScroll = $(window).scrollTop();
            if (currentScroll >= pos) {
                $('.ss').css({
                    position: 'fixed',
                    top:'40',
                    left: '2'
                });
            } else {
                $('.ss').css({ 
                  position:'static'
                });
            }
        }); 
    </script> 
    <script>
//       window.onload=()=>
// {
    // fix the social div after scrolling
    
    

    // load the icon for social icon
    feather.replace();

    //implementing the star rating system
    const sr=document.getElementById("starrating");
    

    for(var i=0;i<5;i++){

        const span=document.createElement('span');
        span.setAttribute("id",'starSpan '+i);
        span.setAttribute('class','fa fa-star notclicked hov');
        span.setAttribute('type','button');
        span.setAttribute('onclick','giveStar(this)');
        span.style.fontSize="30px";
        sr.append(span);
    }
    if (starCount>0){
        const starNode=document.getElementById(`starSpan ${starCount-1}`);
        giveStar(starNode);
    } 
    // main postveiw code
    const postBody=document.getElementById("postBody");
    let body=JSON.parse(postData);
    // console.log("length of the block is: ",JSON.parse(body.body_custom).blocks);
    let blocks=JSON.parse(body.body_custom).blocks;
    // console.log(blocks);
    for(let ind=0;ind<=blocks.length;ind++){
        switch (blocks[ind].type) {
            case "paragraph":
                const par = document.createElement("p");
                par.innerHTML = blocks[ind].data.text;
                par.id="editorP"
                postBody.appendChild(par)
                break;
            case "header":
                let size=blocks[ind].data.level;
                let text=blocks[ind].data.text;
                const headerTag="h"+size;
                let header=document.createElement(headerTag);
                header.innerHTML=text;
                postBody.appendChild(header);
                break;
            case "image":
                let div=document.createElement("div");
                let img=document.createElement("img");
                let cap=document.createElement("lead");
                img.src=`${blocks[ind].data.file.url}` ;
                img.style="margin-top:10%";
                img.height=300;
                img.style="width:100%;max-width:70%;border-radius:7px;box-shadow: 10px -9px;"  
                cap.textContent=blocks[ind].data.caption;
                cap.style="margin-top:2%;font-weight:500px;margin-bottom:2%;";
                div.appendChild(img);
                div.appendChild(cap)
                div.style="width:100%;display:grid;place-items:center;padding-top:10%;padding-bottom:10%";
                postBody.appendChild(div);
                break;
            case "quote":
                let figureDiv=document.createElement("div");
                let quote=document.createElement("blockquote");
                let figCaption=document.createElement("figcaption");
                quote.innerHTML=blocks[ind].data.text
                let dash='&mdash;'
                let figVal=dash+blocks[ind].data.caption
                figCaption.innerHTML=figVal
                figureDiv.style="margin-top:15px;" +
                    "margin: 0;background: #eee;padding: 1em;" +
                    "border-radius: 1em;"
                figureDiv.appendChild(quote)
                figureDiv.appendChild(figCaption)
                postBody.appendChild(figureDiv)
                break;
            // case "raw":
            //     let blockquote = document.createElement("blockquote");
            //     let code = document.createElement("code");
            //     let pre = document.createElement("pre");
            //     pre.textContent = blocks[ind].data.html;
            //     pre.style.background = "#131313";
            //     pre.style.color = "#dddddd";
            //     pre.style.padding = "15px";
            //     code.appendChild(pre);
            //     postBody.appendChild(code);
            //     break;
            case "raw":
                let bq = document.createElement("div");
                let cd = document.createElement("code");
                let pr = document.createElement("pre");
                cd.innerHTML=blocks[ind].data.html; 
                cd.className="java";
                // cd.id="code";
                // console.log(blocks[ind].data.code);
                pr.appendChild(cd); 
                // bq.appendChild(pr);
                postBody.appendChild(pr);
                break;
            case "list":
                if(blocks[ind].data.style==="unordered")
                {
                    let List=document.createElement("ul");
                    for(let j=0;j<blocks[ind].data.items.length;j++)
                    {
                        let data=blocks[ind].data.items[j];
                        let ldiv=document.createElement("li");
                        ldiv.innerHTML=data;
                        List.appendChild(ldiv);
                    }
                    postBody.appendChild(List);
                }
                if(blocks[ind].data.style==="ordered")
                {
                    let List=document.createElement("ol");
                    for(let j=0;j<blocks[ind].data.items.length;j++)
                    {
                        let data=blocks[ind].data.items[j];
                        let ldiv=document.createElement("li");
                        ldiv.innerHTML=data;
                        List.appendChild(ldiv);
                    }
                    postBody.appendChild(List);
                }
                break;
            case "checklist":
                var totList=blocks[ind].data.items.length;
                for(var j=0;j<totList;j++)
                {
                    var x = document.createElement("DIV");
                    var inp=document.createElement("INPUT");                                                             
                    inp.setAttribute("type","checkbox");
                    inp.setAttribute("id","val");
                    inp.setAttribute("val","val");
                    inp.setAttribute("checked","false");
                    console.log(blocks[ind].data.items[j].checked);
                    var data=blocks[ind].data.items[j].text;
                    var t = document.createTextNode(data);
                    var lev=document.createElement("LABEL");
                    lev.setAttribute("for","val");
                    lev.appendChild(t);
                    x.append(inp,lev);
                    postBody.appendChild(x);
                }
                break;
            case "table":
                let Div=document.createElement("div");
                Div.style.marginTop='40px';
                let tableDiv=document.createElement("table")
                tableDiv.style.fontFamily='arial,sans-serif'
                tableDiv.style.borderCollapse='collapse'
                tableDiv.style.width='70%'
                tableDiv.style.border='1px solid #090909'
                tableDiv.style.padding='20px'
                tableDiv.style.margin='auto'
                let st='border: 1px solid #dddddd; text-align: left;padding: 8px;'
                let rowNo=blocks[ind].data.content.length;
                let columNo=blocks[ind].data.content[0].length;
                for (let i=0;i<rowNo;i++){
                    let tableRow=document.createElement("tr");
                    if(i===0){
                        for(let j=0;j<columNo;j++){
                            let tableHeader=document.createElement("th");
                            tableHeader.style=st;
                            let row=blocks[ind].data.content[i];
                            let tabData=row[j]
                            tableHeader.innerHTML=tabData;
                            tableRow.appendChild(tableHeader);
                        }
                    }
                    else{
                        for(let j=0;j<columNo;j++){
                            let tableData=document.createElement("td");
                            tableData.style=st;
                            let row=blocks[ind].data.content[i];
                            let tabData=row[j]
                            tableData.innerHTML=tabData;
                            tableRow.appendChild(tableData);
                        }
                    }
                tableDiv.appendChild(tableRow);
                }
                Div.appendChild(tableDiv)
                postBody.appendChild(Div)
                break;
            case "delimiter":
                let starSvg='<svg version="1.0" xmlns="http://www.w3.org/2000/svg"\n' +
                    ' width="12pt" height="12pt" viewBox="0 0 1278.000000 1280.000000"\n' +
                    ' preserveAspectRatio="xMidYMid meet">\n' +
                    '<g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"\n' +
                    'fill="#000000" stroke="none">\n' +
                    '<path d="M6760 12443 c-137 -26 -302 -163 -453 -375 -207 -293 -384 -645 -802\n' +
                    '-1598 -347 -790 -486 -1070 -667 -1337 -211 -311 -357 -373 -878 -374 -303 0\n' +
                    '-573 22 -1315 106 -310 36 -666 73 -930 97 -191 17 -792 17 -905 0 -359 -56\n' +
                    '-525 -174 -538 -382 -7 -128 43 -265 161 -442 197 -294 514 -612 1317 -1323\n' +
                    '955 -845 1247 -1174 1290 -1452 37 -234 -95 -656 -453 -1458 -364 -816 -430\n' +
                    '-963 -490 -1110 -252 -611 -352 -998 -318 -1236 31 -222 145 -333 357 -346\n' +
                    '311 -21 768 169 1699 704 749 431 885 508 1051 596 451 240 718 338 924 341\n' +
                    '121 1 161 -10 310 -84 265 -133 574 -380 1300 -1040 1006 -916 1405 -1206\n' +
                    '1752 -1276 102 -21 173 -13 255 27 103 50 160 135 204 304 21 81 23 111 23\n' +
                    '315 0 125 -5 267 -12 320 -51 379 -107 674 -253 1335 -229 1034 -279 1327\n' +
                    '-279 1647 0 162 16 260 55 346 101 221 462 490 1275 952 661 375 831 473 1005\n' +
                    '578 739 446 1065 761 1065 1027 0 155 -96 273 -306 378 -300 150 -748 236\n' +
                    '-1764 342 -1052 108 -1334 148 -1637 225 -387 100 -514 201 -648 515 -117 276\n' +
                    '-211 629 -391 1482 -135 644 -212 973 -289 1237 -115 398 -240 668 -380 824\n' +
                    '-94 105 -221 156 -335 135z"/>\n' +
                    '</g>\n' +
                    '</svg>\n'
                let deliDiv=document.createElement("div");
                deliDiv.className='container-fluid';
                deliDiv.style='display: flex;\n' +
                    '  justify-content: center;'
                let sectionDiv=document.createElement("h2");
                let pDiv=document.createElement("p");
                pDiv.style='justify-content: center;'
                pDiv.innerHTML=starSvg+starSvg+starSvg;
                sectionDiv.appendChild(pDiv);
                deliDiv.appendChild(sectionDiv)
                postBody.appendChild(deliDiv)
                break;
            default:
                break;
        }
    }
// };
    </script>
</body>

</html>
{% endblock %}