{% extends 'basePage.html' %}  
{%block content%}
{% load static %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://goodies.pixabay.com/jquery/tag-editor/jquery.tag-editor.css" rel="stylesheet" />

  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/raw"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/table"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@2.19.0/dist/editor.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/mdgaziur/EditorJS-LaTeX@latest/dist/editorjs-latex.bundle-min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdgaziur/EditorJS-LaTeX@latest/dist/editorjs-latex.bundle.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.12.0/katex.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.12.0/katex.min.css"></link>


  <script src={% static 'image/simple-image.js' %}></script>
  <link href={% static 'image/simple-image.css' %} rel="stylesheet"/>
  <script src={% static 'js/jquery-3.1.1.min.js' %}></script>
  <script src={%static 'js/jquery.waypoints.min.js' %}></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8  mt-5">
          <div class="form-group">
            <label for="post_title">Post Title</label>
            <input type="text" class="form-control" id="PostTitle" aria-describedby="textHelp" readonly="readonly" value="{{data.post_title }}">
            <small id="textHelp" class="form-text text-muted">Enter your Post title Here.</small>
          </div>


          <div class="form-group">
            <label for="post_category">Catagory</label> 
            <br>
            <small id="textHelp" class="form-text text-muted">Select your Post Catagory Here.</small> 
            <div id="demo2"></div>
          </div>


          <div id="editorjs"></div>
          <script>
              let body=JSON.parse("{{ body_custom | escapejs}}");
              var blocks=JSON.parse(JSON.stringify(body.body_custom));
              console.log("{{ data.catagory }}");
              const editor = new EditorJS({
                autofocus: true,
                tools:{
                    Math:{
                        class: EJLaTeX,
                        shortcut: 'CMD+SHIFT+M'
                    },
                    image: {
                      class: ImageTool,
                      config: {
                        endpoints: {
                          byFile: '{%url 'uploadimageview' %}',
                        }
                      }
                    },
                    header:{
                      class:Header,
                      shortcut:'CMD+SHIFT+H',
                      config:{
                        placeholder:'Enter a header',
                        levels:[2,3,4],
                        defaultlevel:3
                      }
                    },
                    raw:RawTool,
                    list:{
                      class:List,
                      inlineToolbar:true
                    },
                    quote:{
                      class:Quote,
                      inlineToolbar:true,
                      shortcut:'CTRL+SHIFT+Q',
                      config:{
                        placeholder:'enter a quote',
                        captionPlaceholder:'Author of Quote'
                      }
                    },
                    table: {
                      class: Table,
                      inlineToolbar: true,
                      config: {
                        rows: 2,
                        cols: 3,
                      },
                    },
                    paragraph: {
                      class: Paragraph,
                      inlineToolbar: true,
                      config:{
                        preserveBlank:true
                      }
                    },
                    delimiter:{
                      class:Delimiter
                    }
                  },
                  data:JSON.parse(blocks)
              });
              
          </script>
          {% if data.status == 'p' %}
            <div class="form-check form-check-inline mt-5">
              <input class="form-check-input" type="radio" name="status" id="inlineRadio1" value="d">
              <label class="form-check-label" for="inlineRadio1">Draft</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="status" id="inlineRadio2" value="p" checked>
              <label class="form-check-label" for="inlineRadio2">Publish</label>
            </div>
          {% endif %}
          {% if data.status == 'd' %}
              <div class="form-check form-check-inline mt-5">
                <input class="form-check-input" type="radio" name="status" id="inlineRadio1" value="d" checked>
                <label class="form-check-label" for="inlineRadio1">Draft</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="status" id="inlineRadio2" value="p">
                <label class="form-check-label" for="inlineRadio2">Publish</label>
              </div>
          {% endif %}
        </br>
        </br>
          <button id="save-data" type="submit" class="btn btn-primary">Submit</button>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
        <script src="https://goodies.pixabay.com/jquery/tag-editor/jquery.caret.min.js"></script>
        <script src="https://goodies.pixabay.com/jquery/tag-editor/jquery.tag-editor.js"></script>
        <script>
          const source = {{tags | safe}};

          $('#demo2').tagEditor({
          autocomplete: {
              delay: 0, // show suggestions immediately
              position: {
              collision: 'flip'
              }, // automatic menu position up/down
              source
          },
          forceLowercase: false, 
          initialTags: {{initTags | safe}},
          placeholder: 'Tags ...', 
          });
          // console.log('postData');
          let but=document.getElementById('save-data');
          but.addEventListener('click',()=>
              {
                editor.save().then(savedData=>
                  {
                    window.location='{%url 'allPostView' %}';
                    // console.log(savedData);
                    let id="{{data.id}}";
                    let postData=JSON.stringify(savedData,null,4);
                    $.ajax({
                      type:'POST',
                      url:'{%url 'postUpdate' id%}',
                      dataType:'JSON',
                      data:{
                          "postTitle":"{{data.post_title}}",
                          "postCatagory": $("#demo2").val(),
                          "postStatus":document.getElementsByName('status')[0].checked==true ? document.getElementsByName('status')[0].value : document.getElementsByName('status')[1].value,
                          "postData":postData
                      }
                    })
                  })
              })
        </script>
      </div>
    </div>
  </div>
</body>
</html>
{%endblock%}


