{% extends 'basePage.html' %}
{% load static %}
{% load rest_framework %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="{% static 'css/App.css' %}">
</head> 
<style>
  footer.page-footer.font-small.bg-info.pt-3.ml-1.mr-1.sticky-md-bottom {
    margin-top: 15%;
}
</style>
<body> 
    <div id="error" class="form-style-10" style="margin-top: 7rem;">
      <form id="passInp" method="post"> 
        {% csrf_token %} 
        <div class="section">Set Passwords</div>
          <div class="inner-wrap"> 
            <div class="form-group">
              <div class="input-group"> 
                <input id="password" name="password" placeholder="password" class="form-control" type="password">
              </div>
            </div>
            <br/>
            <br/>
            <div class="form-group">
              <div class="input-group"> 
                <input id="conf_password" name="conf_password" placeholder="confirm password" class="form-control" type="password">
              </div>
            </div>
          </div>
          <div class="button-section">
            <div class="form-group text-center"> 
              <button type="submit" class="btn ">Reset Password</button>
            </div> 
          </div>
        </div>
      </form>
      
      <script>
        $(document).on('submit',"#passInp",function(event){
                submitForm();
                if( document.getElementById("errordiv") !== null){
                    document.getElementById("errordiv").remove();
                }
                event.preventDefault();
                return false;
            })

        function submitForm(){ 
          // console.log($('form#passInp').serialize()); 
            $.ajax({
            type: "POST",
            url: "{%url 'reset_password'  token %}", 
            data: $('form#passInp').serialize(),
            dataType: 'json',
            success: function(msg){ 
                if(msg.st=== "nm"){
                    document.getElementById("error").insertAdjacentHTML('afterend',`<div class="alert alert-danger alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Check the password again!</strong>
                    </div>`);
                } 
                if(msg.st=== "su"){
                    document.getElementById("error").insertAdjacentHTML('afterend',`<div class="alert alert-success alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Updated Successfully</strong>
                    </div>`);
                    
                    window.location="{%url 'login' %}"
                }
                if(msg.st=== "le"){
                    document.getElementById("error").insertAdjacentHTML('afterend',`<div class="alert alert-success alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Link expired</strong>
                    </div>`);
                } 
            },
            error: function(error){
            }
        });
        }

      </script>
    </div> 
</body>
</html> 
{% endblock %}